services:
  - type: worker
    name: telegram-downloader-bot
    env: python
    pythonVersion: "3.11.0"  # ← این خط رو اضافه کن
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
